.container {
    width: 100%;
    margin: 0px;    
}
.row-fluid {
    margin-top: 50px;
}
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  border-top: 1px solid #eee;
}
li.nav-header {
    text-transform: none;
    margin-top: 7px;
    font-size: 110%;
    font-weight: normal;
}
.maincontainer {
    display: block;
    padding-top: 50px;
}

.form-signin fieldset {
    width: 260px;
    margin: 0px auto;
}

#editor {overflow:scroll; max-height:300px}

.container-fluid .row-fluid {
    padding-left: 40px;
    width: 95%;
}
.float-menu {
    position: fixed;
    z-index: 100;
    left: -240px;
    top: 40px;
    width: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.float-menu:hover {
    left: -1px;
}
.float-menu .sticker {
    float: right;
}

tr.additional td {
    font-size: 90%;
    color: #959595;
}
tr.additional td:hover {
    color: #000;
}

span.time {
    font-size: 80%;
}
.search-filters {
    overflow-x: scroll;
}
.search-table {
    width: 100%;
}
.search-table tr td {
    vertical-align: top;
    padding: 3px;
}
.div-overflow {
    overflow-y: auto;
    height: 150px;
    width: 400px;
    display: block;
}
.scrollY {
    height: 200px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.narrow {
    width: 200px;
}
.narrow span label {
    display: block;
}
.list-statuses {
    margin-bottom: 5px;
}
label.inline {
    margin-left: 5px;
    display: inline;
}
.even {
    background-color: #f5f5f5;
}
.selected {
    background-color: #ededed !important;
    color: #333333 !important;;
}
